.watch_later_container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 2rem 1rem 0 0.2rem;
    width: 100%;
    padding: 0 0 0 2rem;
    gap:0 1rem;
    align-content: flex-start;
}
@media screen and (max-width:1032px) {
    .watch_later_container{
    padding: 0 0 0 0;
    }
}

@media screen and (max-width: 632px) {
    .watch_later_container{
        margin: 4rem 0 0 0;
        padding: 0 0 0 1rem;
    }
    }