.single_playlist_container{
    width:100%;
    padding:0 0 0 2rem;
    align-content: flex-start;
}
.heading_for_emptypage2{
    color:var(--text-color);
     margin: 2rem auto;
     font-size: 1.2rem;
     display: flex;
     justify-items: center;
}
.heading_for_emptypage{
    color:var(--text-color);
    margin: 2rem 0  1rem 3rem;
    padding:0 5rem 0 0;
    font-size: 1.2rem;
    
}
.single_playlist_container-headings{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
   
}
.single_playlist-mainheading{
    width:60%;
    word-break: break-all;
    

}
@media screen and (max-width:808px){
    .single_playlist_container{
     padding:0 0 0 0rem;
   
    }
}
@media screen and (max-width:397px){
    .heading_for_emptypage{
        margin:2rem 0 1rem 1rem;
        padding: 0 0 0 0 ;

    }
}
     