.explore_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
   box-sizing: border-box;
  background-color: var(--bg2-color);
 padding-bottom: 2rem;
 min-height:100vh;
 
}
.explore_main_container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 0.2rem;
  width: 100%;
}
.category_wrapper {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0 2rem;
  margin: 0 1rem;
  width: 85%;
 

}
.recover_explore{
  margin-left:1rem;
  color:var(--primary-color);
  cursor: pointer;
}


.category_wrapper > * {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 0.1px solid var(--primary-color);
  border-radius:0.3rem;
  cursor: pointer;
  color: var(--text-color);
}
.active_category {
  background-color: var(--primary-color);
}
.sortbydatetoggle {
  position: absolute;
  top: 5rem;
  right: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.sortbydatetoggle div {
  display: flex;
  align-items: center;
}
.toggleLatest {
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 3;
  cursor: pointer;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.toggleLatest > * {
  margin: 0.5rem;
  font-size: 0.8rem;
}
.toggleLatest input {
  cursor: pointer;
  background-color: var(--primary-color);
}
.latest_close {
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
}

@media screen and (max-width: 632px) {
  .category_wrapper {
    margin: 3rem 0 0.5rem 0;
    padding: 0 1rem;
  }
  .sortbydatetoggle {
    top: 8rem;
    right: 1rem;
  }
  .toggleLatest {
    top: 9rem;
    right: 1rem;
  }
}
