.playlistcard {
 min-width:20rem;
position: relative;
flex-direction: column;

 
}
.playlist_img {
  height:10rem;
  width: 100%;;
}
.playlistcard_items {
  position: absolute;
  width: 5rem;
  height: 72%;
  right: 0;
  top: 0;
  background-color: rgb(32, 33, 36, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.delete_playlist{
    z-index:10;
}
.playlistcard_desp-desp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: var(--text-color);
  z-index: 6;
}
