.add_newplaylist_btn{
  width: 22rem;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  margin: 1rem ;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
     
}

.add_newplaylist_btn input{
  border: none;
  width: 100%;
  padding: 0.6rem 0.5rem;
  color: var(--text-color);
  background-color: var(--bg2-color);
  margin: 0.5rem;
  text-align: center;
}
.add_newplaylist_btn span{
  cursor: pointer;
}
.playlist_main_container{
  width: 100%;
 display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 1rem 0 0.2rem;
    align-content: flex-start;
}
.addnewplaylist_cancelbtn{
  position: absolute;
  right:1rem;
  top:2rem;
}
.playlist-wrapper{
  justify-content: space-around;
}

 @media screen and (max-width:808px){
  .add_newplaylist_btn{
    width:85%;
  }
   
 }
 @media screen and (max-width: 632px) {
   .playlist-wrapper{
     padding-top: 2rem;
   }
  }